.logo {
   display: flex;
   align-items: center;
   height: 50px;
   width: 50px;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .title-group {
    padding-left: 25px;
}

.header .title-group i {
    padding-right: 7px;
}